
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4" *ngFor="let i of publicapilinks.data">
                    <div class="card" style="width: 18rem;">
                        <h5 class="card-title">{{i.Nation}}</h5>
                        <h5 class="card-title">{{i['ID Year']}}</h5>
                          <!-- <img height="300px" width="200px" src={{j.logo}} class="card-img-top" alt="..."> -->
                          <div class="card-body">
                            <p class="card-text">{{i.Year}}</p>
                            <p class="card-text">{{i.Population}}</p>
                            <!-- <p class="card-text">{{j.logo}}</p> -->
                            <p class="card-text">{{i['Slug Nation']}}</p>
                            <!-- <a href="#" class="btn btn-primary">ADD TO CART</a> -->
                            <p class="card-text">{{i['Slug Nation']}}</p>
                          </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" *ngFor="let j of publicapilinks.source">
                    <div class="card" style="width: 18rem;">
                        <!-- <h5 class="card-title">{{j.measures}}</h5> -->
                        <!-- <h5 class="card-title">{{j.annotations.source_name}}</h5> -->
                          <!-- <img height="300px" width="200px" src={{j.logo}} class="card-img-top" alt="..."> -->
                          <div class="card-body">
                            <!-- <p class="card-text">{{j.annotations.source_description}}</p> -->
                            <!-- <p class="card-text">{{j.annotations.dataset_name}}</p> -->
                            <!-- <p class="card-text">{{j.logo}}</p> -->
                            <!-- <p class="card-text">{{j.annotations.dataset_link}}</p> -->
                            <!-- <a href="#" class="btn btn-primary">ADD TO CART</a> -->
                            <!-- <p class="card-text">{{j.annotations.table_id}}</p> -->
                            <!-- <p class="card-text">{{j.annotations.topic}}</p> -->
                            <!-- <p class="card-text">{{j.annotations.subtopic}}</p> -->
                            <!-- <p class="card-text">{{j.name}}</p> -->
                            <!-- <p class="card-text">{{j.substitutions}}</p> -->


                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>