<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">SERVICES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">PASSENGER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/us">US PUBLIC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/api">PUBLIC API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ui">USER INFO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pdt">PRODUCT LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ud">USER DATA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/todo">TODO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quote">QUOTES</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
