<app-nav></app-nav>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <!-- <th scope="col">ID</th> -->
                                <th scope="col">USER ID</th>
                                <th scope="col">TODO</th>
                                <th scope="col">STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of todo.todos ">
                                <!-- <td>{{i._id}}</td> -->
                                <td>{{i.userId}}</td>
                                <td>{{i.todo}}</td>
                                <td>{{i.completed}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <h5>Support:<a>{{userinfo['support'].url}}</a></h5>
                    <h5>{{userinfo['support'].text}}</h5> -->
                </div>
            </div>
        </div>
    </div>
</div>
